{{> navbar}}

<div class="add-post">
    <div class="container">
        <div class="row">
        <form action="/add-post" method="post" class="col s12" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input name="title" id="input_text" type="text" data-length="10">
                    <label for="input_text">Заголовок статьи</label>
                </div>
                <div class="file-field input-field col s3">
                <div class="btn">
                    <span>File</span>
                    <input name="media"  class="col s6" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input name="img" class="file-path validate" type="text" placeholder="Картинка заголовка">
                </div>
            </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea name="text" id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea2">Текст</label>
                </div>
            </div>
            <input type="hidden" name="userId" value="{{user._id}}">
                <button class="btn waves-effect waves-light" type="submit">Сохранить запись</button>
        </form>
        </div>
    </div>
</div>

